<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>身份证信息.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A9DD73E1CAD031F00973343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9DD7571CAD032000973343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9DD7621CAD032000973343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
